extends /template.pug

block main
  .intro
    p
      | Below you find people working on the
      = " "
      a(href=nanoUrl) Nano protocol
      = " "
      | or
      = " "
      a(href=projectUrl) related projects
      | .
      | The goal is to increase the visibility of developers accepting donations.
      | If you are currently working on Nano related projects (that is not a for-profit company), submit a PR with your info
      = " "
      a(href=editUrl) as seen here
      | .
    p
      | Being listed on this site should not be considered an endorsement. The list is randomized for each visit.

  +donatees(siteData.donatees)
